/* Estilos generales*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #01347b;
    background-image: url('../IMAGENES/FONDO.png');
    color: #333333;
}

/* Estilos del menú principal */
.Menu_principal {
    width: 100%;
    height: 100%;
    background-image: url('../IMAGENES/BARRA.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9px 0;
    text-align: center;
}

.Menu_principal .logo img {
    height: 75px;
    vertical-align: middle;
}

.Menu_principal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.imagen-juego {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.imagen-juego img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagen-juego img:hover {
    transform: scale(1.10);
}

.Menu_principal li {
    display: inline;
    margin: 0 60px;
}

.Menu_principal ul li a {
  text-decoration: none;
  color: #01347b;
  font-weight: bold;
  font-size: x-large;
  line-height: 60px;
}

.Menu_principal a:hover {
    background-color: black;
    color: #efa91d;
}

#Ciclo {
  width: 100%;
  max-width: 75%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  position: relative; /* esto para posicionar elementos hijos */
}

button#prev, button#next {
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  user-select: none;
}

#rachaContenido {
  background: #01347b;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 100;
}
.barra-menu ul li {
  position: relative;
}

pre {
    display: none;
}

.autos-container {
    display: flex;
    background: #01347b;
    background-image: url('../IMAGENES/FONDO.png');
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.auto {
    width: 45%;
    margin-bottom: 20px;
}

.auto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    transition: transform 0.3s ease;
}

.auto img:hover {
    transform: scale(1.02);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .Menu_principal ul {
        display: block;
    }

    .Menu_principal li {
        display: block;
        margin: 10px 0;
    }

    .imagenes-extra {
        flex-direction: column;
    }

    .imagenes-extra a {
        width: 100%;
        height: auto;
    }

    .imagenes-extra img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .autos-container {
        flex-direction: column;
    }

    .auto {
        width: 100%;
    }
}

/* Media Query para Tabletas */
@media (max-width: 1024px) {
    .Menu_principal ul {
      display: block;
    }
    .Menu_principal li {
      display: block;
      margin: 10px 0;
    }
    .imagenes-extra {
      flex-direction: column;
    }
    .autos-container {
      flex-direction: column;
    }
    .auto {
      width: 100%;
    }
    .contactos-container {
      flex-direction: column;
    }
    .contact-info,
    .ubicacion {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  /* Media Query para Móviles */
  @media (max-width: 768px) {
    .Menu_principal ul {
      display: block;
    }
    .imagenes-extra {
      flex-direction: column;
    }
    .autos-container {
      flex-direction: column;
    }
    .auto {
      width: 100%;
    }
  }